.characters-filters {
	// margin: 50px auto;
	position: fixed;
	// margin-top: 30px;
	top: 80%;
	text-align: left;
	left: 50%;
	transform: translate(-50%, 0%);

	font-family: 'magic_school_oneregular';
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
}
