//Forcing fixed position to fix detail page scrollX issue
.App__detail {
	position: fixed;
	width: 100%;
	margin-top: 30px;
	// overflow-y: scroll !important;
}

.detail__header {
	width: 190px;

	// margin-left: 30px;
	// transform: skewX(-30deg);
	background-color: black;
	margin-bottom: 50px;
}

.detail__title {
	font-family: 'magic_school_oneregular';
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	padding: 5px 20px;
	color: inherit;
}

.animation-container {
	display: inline-block;
	// transition: all ease 600ms;

	&:hover {
		// transform: rotateY(180deg);

		animation: 600ms flip forwards;

		@keyframes flip {
			from {
				// transform: perspective(400px) rotateY(0deg);
				transform: perspective(400px) rotateY(0deg);
			}
			to {
				transform: perspective(400px) rotateY(369deg);
			}
		}
	}
}

.detail-main__image {
	margin: 0 auto;
	height: 400px;
	//Similar to bcg-position controls, but with image tag
	object-fit: cover;
	object-position: top;
}

////////
.title__container {
	background-color: black;
	height: 80px;
	transform: skewX(-30deg) rotate(-5deg);
	margin-bottom: 30px;
}
.character__title {
	font-family: 'magic_school_oneregular';
	font-weight: normal;
	font-style: normal;
	line-height: 1.4;

	padding-left: 20px;
	padding-right: 20px;
	font-size: 46px;
	padding-top: 5px;
	text-align: center;
	color: white;
	transform: skewX(30deg) rotate(5deg);
}

.detail-main {
	// background-color: white;
	width: 100%;
	max-width: 1200px;
	margin: 30px;
	line-height: 2;

	@media all and (min-width: 320px) {
		display: flex;
		justify-content: center;
	}

	&__aside-left {
		@media all and (min-width: 320px) {
			flex-basis: 250px;
		}
		margin-right: 50px;
	}
	&__section-right {
		// background-color: yellow;
	}
}

.detail-main__house {
	width: 50px;
	height: 50px;
	object-fit: cover;
	object-position: top;
	margin-bottom: 10px;
}

.detail-main__animation-big {
	margin-top: 8px;
	position: absolute;
	animation: 1s slide-left-big forwards;

	@keyframes slide-left-big {
		from {
			opacity: 0;
			transform: translateX(-30px);
		}
		to {
			opacity: 1;
			transform: translateX(60px);
		}
	}
}

.detail-main__animation {
	position: absolute;
	animation: 1s slide-left forwards;

	@keyframes slide-left {
		from {
			opacity: 0;
			transform: translateX(-30px);
		}
		to {
			opacity: 1;
			transform: translateX(30px);
		}
	}
}
