.character-card__link {
	text-decoration: none;
	color: inherit;
}

.character-card {
	background-color: white;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	margin: 0 10px;
	padding-bottom: 10px;
	width: 200px;
	text-align: center;

	&__img {
		width: 100%;
		height: 250px;
		//Similar to bcg-position controls, but with image tag
		object-fit: cover;
		object-position: top;
	}

	&__title {
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: 800;
	}

	&__info {
		// color: blue;
	}

	&__house {
		width: 50px;
		height: 50px;
		object-fit: cover;
		object-position: top;
		border: 1px solid white;
		// outline: none;
	}

	transition: all ease 600ms;
	&:hover {
		transform: scale(1.1);
	}
}
