.App__header {
	position: fixed;
	margin-top: 30px;
	width: 320px;

	left: 50%;
	transform: translate(-50%, 0%) skewX(-30deg) rotate(-5deg);
	background-color: black;
}
.App__title {
	font-family: 'magic_school_oneregular';
	font-size: 60px;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	padding: 5px 20px;
	color: white;
	transform: skewX(30deg) rotate(5deg);
}
